/**
 * Base/global styles
 */

 body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

a {
  color: initial !important;
}

.checkbox {
  margin-right: 20px;

  input {
    margin-right: 5px;
  }

  @media screen and (max-width: 480px) {
    position: relative;
    top: 5px;
  }
}